.car-info__title {
  font-size: 30px;
  line-height: 41px;
  font-weight: 700;
}

.car-info__features {
  margin: 0;
  padding: 0;
  list-style: none;

  opacity: 0.5;
}

.car-info__price {
  font-size: 35px;
  line-height: 48px;
  font-weight: 700;
}

.car-info__prev-price {
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;

  opacity: 0.5;
}
