.contacts {
  display: flex;
  align-items: flex-start;
}

.contacts__info {
  width: 274px;
  margin: 0;
  margin-right: 75px;
}

.contacts__title {
  margin-bottom: 15px;

  font-weight: 700;
  color: $contacts-black;
}

.contacts__value {
  margin: 0;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: $contacts-black;

  &--address {
    color: $black;
  }
}

.contacts__phone-link {
  color: $contacts-black;

  @include basic-hover;
  @include basic-active;
}

.contacts__email-link {
  color: $contacts-black;

  @include basic-hover;
  @include basic-active;
}

.contacts__map-column {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 72px;
    left: 114px;

    width: 34px;
    height: 42px;
    background-image: url("../img/icon-map-blip.svg");
    background-repeat: no-repeat;
  }
}
