.main-header {
  flex-shrink: 0;
  flex-basis: auto;

  background-color: $light-gray;
}

.main-header__nav {
  @include centered-layout;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-header__logo {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 7px;
}

.main-header__menu {
  display: none;
}

@media (min-width: $desktop-centered-threshold) {
  .main-header__nav {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: $tablet-max-width) {
  .main-header__nav {
    padding-left: $tablet-paddings;
    padding-right: $tablet-paddings;
  }

  .main-header__logo {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
  }

  .main-header__menu {
    position: relative;
    right: -15px;
    box-sizing: content-box;
    align-self: center;
    display: block;
    width: 29px;
    height: 18px;
    padding: 15px;

    border: none;
    background-color: transparent;
    background-image: url("../assets/img/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 29px 18px;

    @include basic-hover;
    @include basic-active;
  }

  .main-header__menu-wrapper {
    display: none;

    &--opened {
      position: absolute;
      z-index: 1;
      right: 0;
      display: block;

      background-color: $light-gray;
    }
  }

  .main-header__menu-wrapper--opened ~ .main-header__menu {
    position: absolute;
    right: $dropdown-menu-width;
    background-color: $light-gray;
    background-image: url("../assets/img/icon-close.svg");

    &:hover,
    &:focus {
      background-color: $gray;
    }

    &:active {
      background-color: $light-gray;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .main-header__nav {
    padding-left: $mobile-header-left-padding;
    padding-right: $mobile-header-right-padding;
  }
}
