.tabs__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs__button {
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  border: 1px solid $gray;
  background-color: $white;
}

.tabs__item--active .tabs__button {
  border-color: $red;
  color: $white;
  background-color: $red;
}
