.tabs__list {
  display: flex;
  @include list-reset;
  margin-bottom: 30px;
}

.tabs__button {
  width: 195px;
  padding: 14px;
  padding-top: 11px;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  border: 1px solid $gray;
  background-color: $white;
}

.tabs__item--active .tabs__button {
  border-color: $red;
  color: $white;
  background-color: $red;
}
