.tabs {
  padding-left: 6px;
}

.tabs__list {
  display: flex;
  @include list-reset;
  margin-bottom: 10px;
}

.tabs__button {
  width: 195px;
  padding: 11px 14px;
  font-size: 20px;
  line-height: 26px;
  text-align: center;

  border: 1px solid $gray;
  background-color: $white;
  cursor: pointer;
}

.tabs__item--active .tabs__button {
  border-color: $red;
  color: $white;
  background-color: $red;
}

.tabs__reviews {
  margin-top: 30px;
}

.tabs__contacts {
  margin-top: 25px;
}

@media (max-width: $tablet-max-width) {
  .tabs {
    padding-left: 0;
  }

  .tabs__stats{
    margin-top: 30px;
  }
}

@media (max-width: $mobile-max-width) {
  .tabs__stats{
    margin-top: 26px;
  }

  .tabs__reviews {
    margin-top: 20px;
  }
}

