$black: #000000;
$accent-black: #48494D;
$contacts-black: #1A212F;

$white: #FFFFFF;
$dark-gray: #A3A4A6;
$star-dark-gray: #BDBEC2;
$gray: #D7D9DF;
$light-gray: #F5F5F9;

$light-red: #FF0000;
$red: #D12136;
$dark-red: #BD0C21;


$max-content-width: 1173px;
$max-content-width-with-paddings: 1253px;
$min-content-width: 1000px;
$desktop-centered-threshold: $max-content-width + 45px;

$tablet-max-width: 1023px;
$tablet-width: 768px;
$tablet-offset: 21px;
$tablet-paddings: ($tablet-offset / $tablet-width) * 100%;
$tablet-footer-margin: (120px / $tablet-width) * 100%;

$mobile-max-width: 767px;
$mobile-width: 320px;
$mobile-offset: 16px;
$mobile-header-left-offset: 10px;
$mobile-header-right-offset: 23px;
$mobile-paddings: ($mobile-offset / $mobile-width) * 100%;
$mobile-header-left-padding: ($mobile-header-left-offset / $mobile-width) * 100%;
$mobile-header-right-padding: ($mobile-header-right-offset / $mobile-width) * 100%;

$dropdown-menu-width: 200px;
